.account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: 50px auto;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-family: arial;
}

.sign-up,
.sign-in {
    border-radius: 120px;
    background-color: white;
    display: inline-block;
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 2px solid #1475b1;
}

.sign-up table,
.sign-in table {
    width: 90%;
    text-align: center;
    margin: 20px auto;
}

.sign-up table td:nth-child(2),
.sign-in table td:nth-child(2) {
    text-align: left;
}

.sign-up input[type="email"],
.sign-up input[type="text"],
.sign-up input[type="password"],
.sign-in input[type="email"],
.sign-in input[type="text"],
.sign-in input[type="password"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #1475b1;
}

.sign-up button,
.sign-in button {
    outline: none;
    border: none;
    padding: 20px;
    background-color: #22d1ee;
    border-radius: 20px;
}

.sign-up button:hover,
.sign-in button:hover {
    background-color: #16b8f3;
}

.sign-in td {
    padding: 35px 0px;
}

.sign-up td {
    padding: 30px 0px;
}

.curtain {
    position: absolute;
    right: 0;
    color: white;
    display: block;
    width: 50%;
    height: 100%;
    background-color: #1475b1;
    border-radius: 120px;
}

.sign-message {
    padding: 30px;
    line-height: 30px;
    font-size: 18px;
}

.sign-question {
    font-size: 20px;
}

.sign-btn {
    margin-top: 30px;
    padding: 15px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 15px;
}

.sign-btn:hover {
    background-color: #16b8f3;
    color: white;
}